.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.logout-button{
  border: none;
  background-color:  	#606060;
  color: #fff;
  padding:2px 40px;
  font-size: 15px;
  position: fixed;
  bottom: 10px;
}