
.listetittel {
    font-family: "Arial", Arial, Sans-serif;
    display: block;
    padding: 0;
    color:  #000000;
 
}
.comment{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.cardtitle{
    font-size: 20px;
}

.submit {
    border: none;
    background-color:  	#606060;
    color: #fff;
    padding:2px 40px;
    font-size: 15px;
    cursor: pointer;
    
  }

.xBtn{
    background: #ff4040;
    color: #fff;
    border: none;
    padding: 1px 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}



#members{
  float: right;
  background-color:  	#f8f8f8;
  min-width: 15vh;
  text-align: center;
}
