.listetittel {
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

.cardtitle{
    font-size: 20px;
}

.submit {
    border: none;
    background-color:  	#606060;
    color: #fff;
    padding:2px 40px;
    font-size: 15px;
    cursor: pointer;
    
  }

.xBtn{
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 1px 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}
