.delete-grocery{
    background: #ff4040;
    color: white;
    padding: 13px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 0px;
    text-indent: -3px;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

.container-list{
    display: grid;
    margin-top: 100px;
    margin:5%;
    margin-top: 100px;
    grid-template-areas: 
    "header header header header"
    "liste liste annet members"
    "liste liste annet add-user"
    "add-grocery add-grocery footer footer";
}

/*css for shoppinglist*/
.grocery-list{
    grid-area: liste;
    flex-direction: column;
    max-height: 70px;
  
  }
  .add-grocery, .search-user{
    margin-top: 20px;
    display: grid;
    justify-self: flex-end;
    align-self: center;
  }
  
  .add-grocery{
    grid-area: footer;
  }
  
  .search-user{
    grid-area: add-user;
  }
  
  .title-box {
    grid-area: header;
    justify-self: center;
    align-self: center;
  }
  
  .members {
    background-color:	#f8f8f8;
    grid-area: members;
    display: grid;
  }
  
  .members h5 {
    justify-self: center;
  }
  
  .member-users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  
  .member-users button {
    grid-column: 3;
  }
  