.delete-grocery{
  background: #ff4040;
  color: white;
  padding: 13px;
  text-align: center;
  border: none;
  vertical-align: middle;
  display: inline-block;
  line-height: 0px;
  text-indent: -3px;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.container-list{
  margin: auto;
  margin-top: 100px;
}

.title{
  float: left;
}

/*css for shoppinglist*/
@keyframes slide-up {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.row2 {
float: left;
width: 40%;
}

.grocery-list{
display: grid;
padding: 2%;
float: left;
width: 50%;
}

.add-grocery, .search-user{
float:left;
margin-left: 20px;
margin-top: 20px;
max-width: 250px;;
}

.add-grocery{
display: grid;
margin-right: 40px;
}

.search-user{
display: grid;
}

.title-box {
margin: 8% 50% 2% 50%;
}

.members {
background-color:	#f8f8f8;
display: grid;
max-width: 300px;
}
.listetittel{
max-height: 70px;
animation: slide-up 0.4s ease;
}
.members h5 {
justify-self: center;
}

.member-users {
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
justify-items: center;
}

.member-users button {
grid-column: 3;
}


.comment{
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.commentbox{
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
  border: 1px  solid rgba(0,0,0,.04);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  width: 60%
}


.boxNewComment{
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.04);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  width: 40%

}

#NewComment {
  border: none;
  outline: none;
  

}
  
.comment-username {
  color: #2C3E50; 
}




