
.listetittel {
    font-family: "Arial", Arial, Sans-serif;
    display: block;
    padding: 0;
    color:  #000000;
 
}
.comment{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.cardtitle{
    font-size: 20px;
}

.submit {
    border: none;
    background-color:  	#606060;
    color: #fff;
    padding:2px 40px;
    font-size: 15px;
    cursor: pointer;
    
  }

.xBtn{
    background: #ff4040;
    color: #fff;
    border: none;
    padding: 1px 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}



#members{
  float: right;
  background-color:  	#f8f8f8;
  min-width: 15vh;
  text-align: center;
}

.add-user{
    float: right;
}

.commentbox{
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.04);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    width: 40%
}


.boxNewComment{
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.04);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    width: 40%

}

#NewComment {
    border: none;
    outline: none;
    

}
    
.comment-username {
    color: #2C3E50; 
}


